.all-products-section {
  display: flex;
  flex-direction: column;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.input-con {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #475569;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.search-icon {
  margin-right: 10px;
}

.no-products {
  height: 100px;
}

.ul {
  padding: 0px;
  margin: 20px;
  width: 90%;
}

.clear-con {
  width: 90%;
  height: 100px;
}

.clear-btn {
  margin-top: 40px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #0967d2;
  border: 1px solid #0967d2;
}
.failure-con {
  width: 90%;
  overflow: hidden;
  padding: 5%;
}
.failure-img {
  width: 100%;
  padding: 20px;
}
.failure-head {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  color: #475569;
  text-align: center;
}
.failure-para {
  width: 100%;
  padding: 20px;
  color: #64748b;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .filter-list-type-con {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.input-con {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #475569;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.search-icon {
  margin-right: 10px;
}

.ul {
  padding: 0px;
  margin: 20px;
  width: 90%;
}

.clear-con {
  width: 90%;
  height: 100px;
}

.clear-btn {
  margin-top: 40px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #0967d2;
  border: 1px solid #0967d2;
}
.failure-con {
  width: 90%;
  overflow: hidden;
  padding: 5%;
}
.failure-img {
  width: 100%;
  padding: 20px;
}
.failure-head {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  color: #475569;
  text-align: center;
}
.failure-para {
  width: 100%;
  padding: 20px;
  color: #64748b;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}
